		body {
			background-image: url(bg.png);
			font-family: Tahoma;
		}
		
		#frame {
			background-color: rgba(255,200,200,0.3);
			width: 1020px;
			margin-left: 450px;
			position: fixed;
			height: 580px;
		}
		h1.hdr{
			margin-left: 450px;
		}
		header nav ul {
			list-style-type: none;
			background-color: rgba(255,255,200,0.3);
			margin-left: 10px;
			padding-left: 0px;
		}
		
		#content {

		}
		
		nav li {
			display: inline-block;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 10px;
			padding-left: -10px;
		}
		
		nav li a {
			color: black;
			text-decoration: none;
		}
		
		main{
			border: 1px black solid;
			background-color: rgba(200,200,255,0.3);
			width: 690px;
			margin-left: 10px;
			height: 410px;
			margin-top: 20px;
		}
		
		aside{
			border: 1px black solid;
			background-color: rgba(200,255,200,0.3);
			width: 310px;
			height: 410px;
			margin-left: 700px;
			margin-top: -412px;
		}
		body article {
			background-color: rgba(200,200,200,0.6);
			width: 670px;
			margin-left: 10px;


		}
		aside article {
			background-color: rgba(200,200,200,0.6);
			width: 290px;
			margin-left: 10px;
		}
		header {

		}

		
		footer {
			background-color: rgba(255,255,200,0.3);
			margin-right: 10px;
			margin-left: 10px;
			text-align: center;
		}
	